#!/usr/bin/env xdg-open 
[Desktop Entry]
Name=Skype Web 
Comment=wrapper for Skype online services.
Exec=skype-web-jak
Icon=applications-internet
Terminal=false
Type=Application
Categories=Network;
